h1{color:aqua; background-color: blue;}
h2{color:green; background-color: red;}
h3{color:red; background-color: gray;}
h4{color:blue; background-color: violet;}
h5{color:violet; background-color: blue;}
h6{color:grey; background-color: green;}